test/.test_coverage.dart

# side effect of running test
test/cache/store/test_hive_boxes/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/